<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    page <%= page.currentPage %> total <%= page.total %> allPages <%= page.allPage %> 
    <%entries.forEach( entry => { %>
        <h1><%=entry.title %></h1>
        <p><%=entry.body %></p>
        <p><%=entry.author %></p>
    <% }) %>
    
</body>
</html>